<h1>This is an example of concern in controller. Concern we need to define module, and create a method that is required there, you can call model values as well. So we can use before filter, after filter, etc as in case of controller but need to use module.</h1>
<p>Also check for model Concern.</p>
<% @products.each do |product| %>
  <%= product.name %><br/>
<% end %>